# Chris Joakim, Microsoft, 2020/06/25
# These libraries are sorted alphabetically

arrow
avro-python3
azure-cosmos==4.0.0
azure-eventhub
azure-storage-blob
azure-storage-file-datalake
confluent-kafka
docopt
fastavro
pandas
pyarrow
requests
